.openPostButton {
    padding: 5px 15px;
    font-size: 14px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin: 5px 10px;
}

.createPostButtonMockActive{
    padding: 5px 15px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid grey;
    cursor: pointer;
    margin: 5px 10px;
    border-radius: 20px;
}
.createPostButtonMockInactive{
    padding: 5px 15px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: 1px solid grey;
    cursor: pointer;
    margin: 5px 10px;
    border-radius: 20px;
}
.createPostButton{
    padding: 5px 15px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid grey;
    cursor: pointer;
    margin: 25px 0px 0px 0px;
    border-radius: 20px;
}

.createPostButton:hover{
    background-color: black;
    color: white;
}

.BoardButton{
    background-color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    font-size: 20px;
}

.BoardButton:hover{
    background-color: black;
    color: white;
}

.CreateComment{
    margin: 40px auto;
    display: flex;
    padding: 15px;
    background-color: transparent;
    border-radius: 10px;
    border: black 1px solid;
    cursor: pointer;
}
.CreateComment:hover{
    background: black;
    color: white;
}