.openPostButton {
    padding: 5px 15px;
    font-size: 14px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin: 5px 10px;
}

.createPostButton{
    padding: 5px 15px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid grey;
    cursor: pointer;
    margin: 5px 10px;
    border-radius: 20px;
}

.searchButton{
    border: 1px solid grey;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    padding-left: 3px;
    background: transparent;
}