.SearchInput {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px 10px;
}

.CreatePostInput{
    width: 400px;
    margin: 0px auto;
    border-radius: 20px;
    border: 1px solid grey;
    height: 25px;
    padding-left: 20px;
}

.CreatePostFileInputButton{
    display: none;
}

.CreatePostFileInputInput{
    border: black 1px solid;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.CreatePostFileInputInput:hover{
    background-color: black;
    color: white;
}

.RTEHeader{
    width: 700px;
    margin: 0 auto;
}

.RTEHeaderInput{
    overflow-y: scroll;
    width: 500px;
    height: 200px;
    padding: 20px;
    cursor: pointer;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.RTEHeaderButtonContainer{
    display: flex;
    column-gap: 10px;
    justify-content: center;
} button{
      cursor: pointer;
      padding: 5px;
      border-radius: 5px;
      border: black 1px solid;
}